// ============================================================================
// Colours
// ============================================================================

.success {
    color: $brand-success;
}

.success-bg {
    background: $brand-success;
}

.danger {
    color: $brand-danger !important;
}

.white {
    color: $body-bg !important;
}

.warning-bg {
    background: $brand-warning;
}

// ============================================================================
// Text alignment
// ============================================================================

.text-align-center {
    text-align: center;
}

// ============================================================================
// List group
// ============================================================================

.list-group-item-header {
    background: $gray-lighter;
}
