// ============================================================================
// Colours
// ============================================================================

.white {
  color: $body-bg !important;
}

.primary-bg {
  color: $brand-primary;
}

.success {
  color: $brand-success;
}

.success-bg {
  background: $brand-success;
}

.danger {
  color: $brand-danger !important;
}

.warning-bg {
  background: $brand-warning;
}

// ============================================================================
// Text alignment
// ============================================================================

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

// ============================================================================
// Margins / paddings
// ============================================================================

.margin-top-1 {
  margin-top: 1rem;
}

// ============================================================================
// List group
// ============================================================================

.list-group-item-header {
  background: $gray-lighter;
}

