.flex {
  display: flex;
}

.flex-50 {
  flex-basis: 50%;
}

.flex-align-center {
  align-items: center;
}

.flex-align-items-start {
  align-items: start;
}

.flex-space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}
