@import '_variables.scss';

// ============================================================================
// Tracker
// ============================================================================

ul.progress-tracker {
    margin: 0;
}

// ============================================================================
// Step
// ============================================================================

li.progress-step:not(:last-child)::after {
    z-index: 0;
    top: $marker-size;
}

// ============================================================================
// Vertical
// ============================================================================

ul.progress-tracker.progress-tracker--vertical {
    & .progress-marker {
        top: $marker-size-half;
    }

    .progress-step .progress-text {
        padding-bottom: 0;
    }
}
