{{- if not .Tasks }}
  <div id="new_planning">
    <h5>No current planning</h5>
    <div>Start a new planning by entering below how long you want to work:</div>
    <input
      id="plan_duration_input"
      type="text"
      class="form-control"
      placeholder="Duration e.g. 1h..."
    >
  </div>
{{- else }}
  <div>
    <div id="current_planning_header" class="flex flex-space-between">
      <span>Current planning:</span>
      <button id="dismiss_planning" class="btn btn-link">Dismiss</button>
    </div>
    {{ template "task-list" . }}
    <div class="flex flex-space-between">
      <div>
        <small
          class="Date"
          data-toggle="tooltip"
          title="{{ formatDateTime .StartedAt }}"
        >
          Started {{ formatDateRelative .StartedAt }}
        </small>
      </div>
      <div >
        <div><small>Asked for: {{ formatDuration .Duration }}</small></div>
        <div><small>Total time: {{ formatDuration .TotalDuration }}</small></div>
      </div>
    </div>
  </div>
{{- end }}
