h1.NavBar {
    text-align: center;
    color: white;
}

.navbar {
    margin-bottom: 1rem;
}

li p {
    margin-bottom: 0;
}

.Page {
    margin-bottom: 2rem;
}

/*
    General
*/

.grey {
    color: #999;
}

.flex {
    display: flex;
    align-items: center;
}

.flex > *:not(:last-child) {
    margin-right: 0.25rem;
}

.flex-1 {
    flex: 1;
}

.flex.flex-space-between {
    justify-content: space-between;
}

#edit_input {
    border: none;
    padding: 0;
}

/*
    Planning
*/

#current_planning {
    margin-bottom: 1rem;
}

/*
    Task list
*/

ul.Tasks {
    margin-bottom: 0;
}

.Task .btn.fa {
    padding: 0;
}

.Task .btn.fa:hover {
    text-decoration: none;
}

.TaskDetails {
    text-align: right;
}

.TaskDetails .fa {
    margin-left: 0;
}

#tasks_list .Task.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.TaskHeader {
    display: flex;
    align-items: center;
}

.TaskHeader .fa {
    color: #999;
    font-size: 1.1rem;
    margin-left: 0.5rem;
}

.TaskHeader .fa:hover {
    color: #292b2c;
}

.TaskTitle {
    flex: 1;
}

.TaskDescription {
    margin-top: 0.25rem;
    font-size: 0.8rem;
}

input.NewTaskInput {
    border-top: none;
}

.Task .progress {
    margin-top: 0.3rem;
    margin-right: 0.3rem;
    height: 0.3rem;
}

.Task .progress .progress-bar {
    height: 0.3rem;
}

/*
input.NewTaskInput.list-group-item.NewTaskInputTop {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
}
*/

input.NewTaskInput.list-group-item {
    border-radius: 0;
    border-bottom-left-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

input.NewTaskInput:focus {
    border-color: rgba(0, 0, 0, 0.125);
}

.TaskDrag {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.TaskDrag:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

.TaskFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#done_input {
    margin-top: 0.5rem;
}

.TaskPriority {
    color: #d9534f;
}

.TaskEditPlaceholder {
    text-align: right;
}

/*
    Done tasks
*/

.ShowDoneTasksDiv {
    display: flex;
    justify-content: center;
    margin: 2rem 0 0.5rem 0;
}

.btn {
    cursor: pointer;
}

.btn-link.btn:focus,
.btn-link.btn:active:focus,
.btn-link.btn.active:focus,
.btn-link.btn.focus,
.btn-link.btn:active.focus,
.btn-link.btn.active.focus {
    outline: none;
    box-shadow: none;
}

/*
    Add task button
*/
#add_task_fixed {
    text-align: right;

    position: fixed;
    right: 1rem;
    bottom: 1rem;

    width: 15rem;
}

#add_task_input {
    display: none;

    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;

    margin-bottom: 0.2rem;
}

#add_task_input:focus-within {
    border-color: #5cb3fd;
}

#add_task_input_textarea {
    max-height: 250px;

    border: none;
}

#add_task_input_help {
    visibility: hidden;
    margin-right: 0.3rem;
}

.btn.btn-round {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}
