{{ define "row-actions" }}
	<button class="btn btn-link fa fa-pencil TaskEdit" data-taskid="{{ .ID }}"></button>
	<button class="btn btn-link fa fa-check TaskDone" data-taskid="{{ .ID }}"></button>
	<button class="btn btn-link fa fa-trash TaskDelete" data-taskid="{{ .ID }}"></button>
	<i class="fa fa-bars TaskDrag"></i>
{{ end }}
