<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Tonight</title>
    <link rel="icon" type="image/png" href="/assets/logo.png" />

    <link rel="stylesheet" href="/assets/style.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/animate.css">

    <!-- Font awesome -->
    <!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"> -->

    <!-- With a slow conneciton, use the following instead -->
    <link href="/external/font-awesome.css" rel="stylesheet">
    <script src="/external/jquery.min.js"></script>
    <script src="/external/jquery-ui.js"></script>

    <script src="/external/tether.min.js"></script>
    <script src="/external/bootstrap.min.js"></script>
    <script src="/external/autosize.min.js"></script>

    <script src="/assets/bootstrap-notify.min.js"></script>
  </head>
  <body>
    <!-- Nav bar -->
    <nav class="navbar navbar-top navbar-inverse bg-primary">
      <h1 class="NavBar"><img src="/assets/logo-i.png" height="36" width="36">Tonight</h1>
    </nav>

    <div class="container Page">
      <!-- Planning -->
      <div id="current_planning" class="col-md-8 offset-md-2">
        {{ block "plan.tmpl" .Planning }}{{ end }}
      </div>

      <!-- Tasks still open -->
      <div class="col-md-8 offset-md-2">
        <h4>Pending tasks</h4>
        <div class="col-md-10 offset-md-1">
          <input
            id="search_input"
            type="text"
            class="form-control"
            placeholder="Search..."
          >
        </div>
        <div id="tasks_list">
            {{block "tasks.tmpl" .}}{{ end }}
        </div>
        <div>
          <textarea
            id="new_task_input"
            type="text"
            class="form-control list-group-item NewTaskInput {{ if not .Tasks }}NewTaskInputTop{{ end }}"
            placeholder="New task..."
            aria-describedby=""
          ></textarea>
        </div>
      </div>

      <!-- Done tasks -->
      <div id="show_done_tasks" class="ShowDoneTasksDiv">
        <button id="show_done_tasks_btn" class="btn btn-link">Show done tasks...</button>
      </div>
      <div id="done_tasks_list" class="col-md-8 offset-md-2">
        <!-- Here will appear the done tasks -->
      </div>

      <!-- Add task button -->
      <div id="add_task_fixed">
        <div id="add_task_input">
          <textarea id="add_task_input_textarea" class="form-control" placeholder="New task..." rows="5"></textarea>
          <small id="add_task_input_help" class="grey">Press enter to create <i class="fa fa-level-down fa-rotate-90"></i></small>
        </div>
        <button id="add_task_button" class="btn btn-success btn-round">
          <i class="fa fa-plus"></i>
        </button>
      </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script> -->

    <!-- <script src="https://raw.githubusercontent.com/jackmoore/autosize/master/dist/autosize.min.js"></script> -->

    <!-- Custom scripts -->
    <script type="text/javascript">{{template "home.js" .}}</script>
    <script type="text/javascript">{{template "plan.js" .}}</script>
    <script type="text/javascript">{{template "sort.js" .}}</script>
    <script type="text/javascript">{{template "doneTasksList.js" .}}</script>
    <script type="text/javascript">{{template "delete.js" .}}</script>
    <script type="text/javascript">{{template "new.js" .}}</script>
    <script type="text/javascript">{{template "tasksList.js" .}}</script>
    <script type="text/javascript">{{template "utils.js" .}}</script>
  </body>
</html>
