{{- if not .Tasks }}
<div id="new_planning">
  <h5>No current planning</h5>
  <div>Start a new planning by entering below how long you want to work:</div>
  <input
    id="plan_duration_input"
    type="text"
    class="form-control"
    placeholder="Duration e.g. 1h..."
  >
</div>
{{- else }}
<div>
  <div id="current_planning_header" class="flex flex-space-between">
    <span>Current planning:</span>
    <button id="dismiss_planning" class="btn btn-link">Dismiss</button>
  </div>
  <ul class="list-group Tasks">
    {{- range .Tasks}}
    <li class="list-group-item flex-column align-items-start Task {{ if not .Done }}TaskPending{{ end }}" data-taskid="{{ .ID }}">
      <div class="w-100 TaskHeader">
        <span class="TaskTitle" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100 }' title="id: {{ .ID }}" data-placement="left" >
          {{ .Title }}
        <span class="TaskPriority">{{ formatPriority .Priority }}</span>
        </span>
        {{- if not .Done }}
          <button class="btn btn-link fa fa-check TaskDone" data-taskid="{{ .ID }}"></button>
          <button class="btn btn-link fa fa-trash TaskDelete" data-taskid="{{ .ID }}"></button>
        {{ else }}
          <span class="badge badge-pill badge-success">done</span>
        {{- end }}
      </div>
      <div class="w-100 TaskDescription">{{ .DescriptionMD }}</div>
      <div class="w-100 TaskFooter">
        <div>
        {{- range .Tags }}
          <span class="badge badge-pill badge-primary">#{{ . }}</span>
        {{- end }}
        </div>
        <div class="grey TaskDetails">
          <div>
            {{- if .Duration }}
              {{ .Duration }}
            {{- else }}
              <em>(1h)</em>
            {{- end }}
            <i class="fa fa-clock-o TaskDetailsIcon"></i>
          </div>
          {{- if .Deadline}}
            <div class="Date" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100 }' title="{{ formatDate .Deadline }}">
              {{ formatDateRelative .Deadline }}
              <i class="fa fa-calendar-check-o"></i>
            </div>
          {{- end }}
          {{- if .Dependencies }}
            <div>
              {{ formatDependencies .Dependencies }}
              <i class="fa fa-check-square-o"></i>
            </div>
          {{- end }}
        </div>
      </div>
      {{- if and (gt .Completion 0) (lt .Completion 100) }}
        <div class="w-100 flex">
          <span class="progress flex-1">
            <span class="progress-bar" role="progressbar" aria-valuenow="{{ .Completion }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ .Completion }}%"></span>
          </span>
          <small><em class="grey">{{ .Completion }}%</em></small>
        </div>
      {{- end }}
      <div class="w-100 TaskDoneInputPlaceholder"></div>
    </li>
    {{- end }}
  </ul>
  <div class="flex flex-space-between">
    <div>
      <small class="Date" data-toggle="tooltip" title="{{ formatDateTime .StartedAt }}">Started {{ formatDateRelative .StartedAt }}</small>
    </div>
    <div >
      <div><small>Asked for: {{ .RequiredDuration }}</small></div>
      <div><small>Total time: {{ .TotalDuration }}</small></div>
    </div>
  </div>
</div>
{{- end }}
