<ul class="list-group Tasks">
  {{- range .Tasks}}
  <li class="list-group-item flex-column align-items-start Task" data-taskid="{{ .ID }}">
    <div class="w-100 TaskHeading">
      <span class="TaskTitle">{{ .Title }}</span>
      {{- if not .Done }}
      <button class="btn btn-link fa fa-check TaskDone" data-taskid="{{ .ID }}"></button>
      <button class="btn btn-link fa fa-trash TaskDelete" data-taskid="{{ .ID }}"></button>
      <i class="fa fa-bars TaskDrag"></i>
      {{ else }}
      <small class="text-muted">Done {{ formatDate .DoneAt }}</small>
      {{- end }}
    </div>
    <div><p class="TaskDescription">{{ .Description }}</p></div>
    <div>
      {{- range .Tags }}
        <span class="badge badge-pill badge-primary">#{{ . }}</span>
      {{- end }}
    </div>
  </li>
  {{- end }}
</ul>
