<ul class="list-group Tasks">
  {{ $out := . }}
  {{- range .Tasks}}
  <li class="list-group-item flex-column align-items-start Task {{ if not .Done }}TaskPending{{ end }}" data-taskid="{{ .ID }}">
    <div id="task_content_{{ .ID }}" class="w-100 TaskContent">
      <div class="w-100 TaskHeader">
        <h6 class="TaskTitle" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100 }' title="id: {{ .ID }}" data-placement="left" >
          {{ .Title }}
          <span class="TaskPriority">{{ formatPriority .Priority }}</span>
        </h6>
        {{- if not .Done }}
          <button class="btn btn-link fa fa-pencil TaskEdit" data-taskid="{{ .ID }}"></button>
          <button class="btn btn-link fa fa-check TaskDone" data-taskid="{{ .ID }}"></button>
          <button class="btn btn-link fa fa-trash TaskDelete" data-taskid="{{ .ID }}"></button>
          {{- if $out.Sortable }}
            <i class="fa fa-bars TaskDrag"></i>
          {{- end }}
        {{ else }}
          <small class="text-muted Date" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100 }' title="{{ formatDateTime .DoneAt }}">Done {{ formatDateRelative .DoneAt }}</small>
        {{- end }}
      </div>
      <div class="w-100 TaskDescription">{{ formatMarkDown .Description }}</div>
      <div class="w-100 TaskFooter">
        <div>
        {{- range .Tags }}
          <span class="badge badge-pill badge-primary">#{{ . }}</span>
        {{- end }}
        </div>
        <div class="grey TaskDetails">
          <div>
            {{- if .Duration }}
              {{ .Duration }}
            {{- else }}
              <em>(1h)</em>
            {{- end }}
            <i class="fa fa-clock-o TaskDetailsIcon"></i>
          </div>
          {{- if .Deadline}}
            <div class="Date" data-toggle="tooltip" data-delay='{"show": 500, "hide": 100 }' title="{{ formatDate .Deadline }}">
              {{ formatDateRelative .Deadline }}
              <i class="fa fa-calendar-check-o"></i>
            </div>
          {{- end }}
          {{- if .Dependencies }}
            <div>
              {{ formatDependencies .Dependencies }}
              <i class="fa fa-check-square-o"></i>
            </div>
          {{- end }}
        </div>
      </div>
      {{- if gt .Completion 0 }}
        <div class="w-100">
          <div class="w-100 flex TaskLogProgressBar" data-taskid="{{ .ID }}">
            <span class="progress flex-1">
              <span class="progress-bar" role="progressbar" aria-valuenow="{{ .Completion }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ .Completion }}%"></span>
            </span>
            <small><em class="grey">{{ .Completion }}%</em></small>
          </div>
          {{- if .Log }}
          <ul class="TaskLog">
            {{- range reverseLog .Log }}
              <li>{{ .Completion }}% - {{ formatDateTime .CreatedAt }}:{{ formatMarkDown .Description }}</li>
            {{- end }}
          </ul>
          {{- end }}
        </div>
      {{- end }}
      <div class="w-100 TaskDoneInputPlaceholder"></div>
    </div>
    <div class="w-100 TaskEditPlaceholder" data-taskid="{{ .ID }}" data-raw="{{ raw . }}"></div>
  </li>
  {{- end }}
</ul>
