[mysql]
user = "root"
password = "root"
host = "192.168.50.4"
port = "3306"
database = "tonight"

[bleve]
path = "./bleve/index"

[jwt]
key = "tonight_secret"

[google]
cookie_secret = "cookie_secret"
client_id = "client_id"
client_secret = "client_secret-"
redirect_url = "http://127.0.0.1:9090/api/oauth2/callback"

[app]
dir = "../app/dist"
assets = "../app/dist/assets"
