[mysql]
user = "root"
password = "root"
host = "192.168.50.4"
port = "3306"
database = "tonight"

[bleve]
path = "./bleve/index"

[jwt]
key = "tonight_secret"

[app]
dir = "../app/dist"
assets = "../app/dist/assets"
