[mysql]
user = "{{ mysql.user }}"
password = "{{ mysql.password }}"
host = "{{ mysql.host }}"
port = "3306"
database = "tonight"

[bleve]
path = "./bleve/index"

[app]
dir = "./app"
assets = "./app/static"

[web]
bind = ":9090"
