name: test
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test:
    name: unit-tests
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: pwd
        ports:
          - 3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1

      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Create the database
        run: mysql --host 127.0.0.1 --port ${{ job.services.mysql.ports[3306] }} -uroot -ppwd -e "CREATE DATABASE IF NOT EXISTS tonight_v2_test"

      - name: Install shmig
        run: wget https://raw.githubusercontent.com/mbucc/shmig/master/shmig && chmod +x shmig

      - name: Run migrations
        run: ./shmig -t mysql -H 127.0.0.1 -P ${{ job.services.mysql.ports[3306] }} -l root -p pwd -d tonight_v2_test -m mysql/migrations up

      - name: Get dependencies
        run: go mod download

      - name: Test
        run: go test -v ./...
        env:
          MYSQL_HOST: 127.0.0.1
          MYSQL_PORT: ${{ job.services.mysql.ports[3306] }}
          MYSQL_USER: root
          MYSQL_PASSWORD: pwd
